h1{
    font-family: "Roboto", sans-serif;
    color: #212121;
    text-align: center;
}

section{
    margin-top: 1.5rem;
}

.container-estados{
    padding: .5rem;
    border-radius: 8px 8px 0px 0;
    border: #212121 solid 1px;
}

.container-tarefas{
    border-left: #212121 1px solid;
    border-right: #212121 1px solid;
}

.container-cadastrar-tarefa{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border: solid 1px #212121;
    border-radius: 8px;
}

.tarefas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #212121 1px solid;
}
